.App {
  margin: 1rem;
}

.cal__navbar {
  margin: 1rem 0;
}

.cal__navbar_btn,
.cal__nav-select {
  margin: 0 5px;
  font-size: 1rem;
}

.cal__dategrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  height: 80vh;
  max-height: 600px;
}

.cal__day {
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  box-sizing: border-box;
  text-align: left;
  padding: 6px;
}

.cal__day--overflow {
  background: rgb(221, 221, 221);
  color: #666;
}

.cal__day-name {
  display: block;
  font-size: 0.9rem;
}